page-level {

    .leveltitle{

        font-size: 25px;
        text-align: center;
        padding: 5px;
    }

    .levelbutton{
    
        padding: 7px;
        text-align: center;
        font-size: 25px;
        
    }

    .levelimage{
         
        padding: 2px;
        text-align: center;
       

    }
}
