

page-lenguages {

  
    .selector {
        font-family:  Helvetica;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 60% !important;
        max-width: 60% !important;
        justify-content: center;
        border: solid 4px #e8ebf0;
        background-color: #ffffff;
        text-align: center;
      }

    .leng {
        font-family: helvetica;
        padding: 7px;
        font-size: 18px;
        line-height: 1.0;
        color: #0a0a0a;
        width: 100% !important;
        max-width: 100% !important;
        background-color: #ffffff;
        text-align: center;
    }

    
    .lenguagebutton{
    
        padding: 35px;
        text-align: center;
        font-size: 10px;
       
    }

    .background {
        background: linear-gradient(to bottom,  rgb(255, 255, 255) 60%, rgb(180, 234, 255) 100%);
    }

}
