page-home {

    
    .background {
        background: linear-gradient(to bottom,  rgb(255, 255, 255) 60%, rgb(180, 234, 255) 100%);
    }

    .startbutton{
        
        padding: 35px;
        text-align: center;
        font-size: 10px;
    }

    .progressbutton{
        
        padding: 35px;
        text-align: center;
        font-size: 10px;
    }
}
