page-progress {

    .progressimage{

        text-align: center;
    
    }

    .progresstext{

        text-align: center;
        padding: 50px;

    }

    .background {
        background: linear-gradient(to bottom,  rgb(255, 255, 255) 60%, rgb(180, 234, 255) 100%);
    }

    
}
