page-premium {

    .premiumtext{
        padding: 15px;
        text-align: center;


    }

    .premiumimage{
        text-align: center;
        padding: 2.5px;
    }

    .scndtext{
        font-size: 20px;
        text-align: center;
        

    }

    .premiumbutton{

        text-align: center;
        padding: 2.5px;
    }

    
    .background {
        background: linear-gradient(to bottom,  rgb(255, 255, 255) 60%, rgb(180, 234, 255) 100%);
    }
}
