page-course {

    .coursetext{
        
        text-align: center;
        padding: 10px;
      


    }

    .coursebutton{
     
        text-align: center;
        padding: 10px;
        

    }

    .courseimage{
        
        text-align: center;
    }



    
    .background {
        background: linear-gradient(to bottom,  rgb(255, 255, 255) 60%, rgb(180, 234, 255) 100%);
    }

}
